#plasmac run tab/panel configuration file, format is:
#name = value

cornerlock-enable=True
cut-amps=0.0
cut-feed-rate=1700.0
cut-height=1.5
cut-mode=1.0
cut-volts=99.0
gas-pressure=0.0
kerf-width=2.5
kerfcross-enable=False
ohmic-probe-enable=True
pause-at-end=0.0
pierce-delay=1.2
pierce-height=8.0
powermax-enable=False
puddle-jump-delay=0.0
puddle-jump-height=0.0
thc-enable=True
thc-mode=thc-on
use-auto-volts=True
x-single-cut=0.0
y-single-cut=0.0
